* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background: url('masala1.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

.order-form {
    background: rgba(0, 0, 0, 0.829); /* Black background with transparency */
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0 8px 6px rgba(0, 0, 0, 0.3);
    max-width: 450px;
    width: 100%;
    text-align: center;
    color: rgb(255, 255, 255);
}

h2 {
    margin-bottom: 10px;
    font-size: 28px;
    color: #fff;
}

.form-group {
    margin-bottom: 20px;
    position: relative; /* Make form-group relative to position icons inside */
}

.form-group label {
    /*display: block;*/
    margin-bottom: 10px;
    font-size: 16px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    padding-right: 40px; /* Extra space on the right for the icon */
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.1); /* Transparent input background */
    color: white;
    outline: none;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.2);
}

.form-group input:focus {
    background: rgba(255, 255, 255, 0.2); /* Slightly less transparent on focus */
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.5);
}

.form-group input[type="submit"] {
    background-color: yellowgreen;
    color: black;
    border: none;
    cursor: pointer;
    font-size: 18px;
    border-radius: 5px;
    padding: 10px;
    width: 50%;
    transition: 0.3s ease;
    border-radius: 20px;
}

.form-group input[type="submit"]:hover {
    color: black;
    background-color: rgb(216, 165, 24);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
}

.form-group i {
    position: absolute;
    top: 70%; /* Center the icon vertically */
    right: 10px; /* Position it to the right */
    transform: translateY(-50%); /* Move the icon slightly up to center */
    color: white; /* Light icon color */
    pointer-events: none; /* Prevent interaction with the icon */

}